* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}
.live-stats{
  display:flex;
  justify-content: center;
  align-content: center;
}
.live-stats h1{
  margin-right: 60px;
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameStats {
  position: absolute;
  display: flex;
  top: 30vh;
  left: 40vw;
}
